NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:@localhost:5450/polokaz
BETTER_AUTH_SECRET=
STRIPE_SECRET_KEY=
STRIPE_PRICE_BASIC_MONTHLY=
STRIPE_PRICE_GOLD_MONTHLY=
STRIPE_PRICE_MERCHANT_MONTHLY=
STRIPE_PRICE_REGULAR_MONTHLY=
STRIPE_PRICE_REGULAR_YEARLY=
STRIPE_PRICE_PREMIUM_MONTHLY=
STRIPE_PRICE_PREMIUM_YEARLY=
STRIPE_PRICE_ORGANIZATION_MONTHLY=
STRIPE_PRICE_ORGANIZATION_YEARLY=
STRIPE_PRICE_SMALL_VENDOR_MONTHLY=
STRIPE_PRICE_SMALL_VENDOR_YEARLY=
STRIPE_PRICE_PREMIUM_VENDOR_MONTHLY=
STRIPE_PRICE_PREMIUM_VENDOR_YEARLY=
STRIPE_WEBHOOK_SECRET=
COUPONTOOLS_API_KEY=
COUPONTOOLS_API_SECRET=
COUPONTOOLS_BASE_URL=https://api.coupontools.com

# SMTP Configurations for Email Verification
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
